@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
}

.extra {
    height: 100%;
    background: url(../images/fondo.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover:
}

.extra1 {
    height: 100%;
    background: url(../images/registro.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover:
}

.extra2 {
    background: url(../images/estudianteprincipal.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover:
}

.titulo {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 7%;
}
.titulo3 {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}

.mensaje {
    margin-top: 7%;
}

.espacio {
    margin-top: 5%;
    align-content: center;
    align-items: center;
    
}

.espacio1 {
    margin-top: 30px;
}

.opciones {
    padding: 0;
}

.radioboton{
    padding-left:20%;
}

.checkfont{
    font-weight:bold;
}

.wrapper{
    padding-left:15%;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #005cbf;
}

@media only screen and (max-width: 500px) {
    .esconder {
        display: none;
    }
}


/*---Media Queries --*/
@media (max-width: 992px) {
}

}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

/*--- Fixed Background Image --*/




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #0a6ebd;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}